* {
  box-sizing: border-box;
}

body {
  background: url(https://media.istockphoto.com/vectors/abstract-geometrical-background-polygonal-pattern-with-color-3d-vector-id1184773431?b=1&k=20&m=1184773431&s=612x612&w=0&h=umOpmY3V7aWrSbrm2E9xWNik2CQDRohchD72ssiq4To=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.kinetic {
  position: relative;
  height: 80px;
  width: 80px;
}

.kinetic::after,
.kinetic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #fff;
  animation: rotateA 2s linear infinite 0.5s;
}

.kinetic::before {
  transform: rotate(90deg);
  animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
    border-bottom-color: rgb(247, 0, 255);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  30% {
    transform: rotate(90deg);
    border-bottom-color: rgb(0, 162, 255);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
